<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Notification11</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->

    <link rel="shortcut icon" href="172.16.2.118/mutuelle/web/_assets/_img/logo.png" type="image/x-icon">

</head>

<body>

    
        Veuillez cliquer sur le lien ci-dessous pour configurer votre mot de passe ou ignorez ce message si vous n'êtes pas à l'origine de cette demande. <br><br>
        <a href="172.16.2.118/mutuelle/web/{{url}}" target="_blank">
            Changer mon mot de passe
        </a>
        
</body>

</html>