<!DOCTYPE HTML PUBLIC>
<html>

<head>
    <title>Notification11</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->


    <!--[if gte mso 15]>
    <style type="text/css">
        table { font-size:1px; line-height:0; mso-margin-top-alt:1px;mso-line-height-rule: exactly; }
        * { mso-line-height-rule: exactly; }
    </style>
    <![endif]-->
    <link rel="shortcut icon" href="172.16.2.118/mutuelle/web/_assets/_img/logo.png" type="image/x-icon">

</head>

<body>
        Veuillez cliquer sur le lien ci-dessous pour configurer votre mot de passe ou ignorez ce message si vous n'êtes pas à l'origine de cette demande. <br><br>
        <a href="172.16.2.118/mutuelle/web/config-user/create-password/{{date_create}}/{{matricule}}/{{mail}}/{{societe}}" target="_blank">
            Créer mon mot de passe
        </a>


</html>