{% extends 'layouts/layout-adherent.html.twig' %}{%block title%}Espace adhérent{%endblock%} {% block body %}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Espace adhérent</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Service</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Demande d'épargne</span>
        </li>
    </ul>
    <div class="page-breadcrumb pull-right">
        <div class="badge badge-orange">
            Espace sécurisé <i class="fa fa-lock"></i>
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Demande d'épargne </h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="row">

    {% for message in app.session.flashbag.get('success') %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-block alert-success fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <p>
                    <stronng>{{message}}</stronng>
                </p>
            </div>
        </div>
    </div>
    {% endfor %} {% for message in app.session.flashbag.get('error') %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <p>
                    <stronng>{{message}}</stronng>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-pencil-square-o font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> Formulaire de demande d'épargne</span>
            </div>
        </div>
        <div class="portlet-body">
            <form class="form-horizontal formSubmit" action="{{path('actionDdeEpargne')}}" method="post" id="form">
                <div class=" form-group">
                    <label class="control-label col-md-4">Type d'épargne</label>
                    <div class="col-md-5">
                        <select name="type_epargne" required id="" class="form-control">
                                <option>Epargne ordinaire</option>
                                <option>Epargne express</option>
                                <option>Dépôt de garantie</option>
                                <option>Achat carte UBA</option>
                                <option>Epargne logement</option>
                            </select>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="control-label col-md-4">Montant de ma quotité cessible disponible</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control separate" placeholder="Montant de ma quotité" name="montant_quotite">
                            <span class="input-group-addon">
                                        F CFA
                                    </span>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="control-label col-md-4">Retenue mensuelle souhaitée</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control separate" placeholder="Retenue mensuelle" name="retenue_mensuelle" id="retenue_mensuelle" required value="0">
                            <span class="input-group-addon">
                                            F CFA
                                        </span>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="control-label col-md-4">Date de début de retenue</label>

                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-inline date-picker" data-date-format="dd/mm/yyyy" placeholder="Date de début de retenue" name="date_start" id="date_debut" required>
                            <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                    </div>
                    
                    <input type="hidden" class="form-control" name="date_end" id="date_end" placeholder="Date de fin" required>
                    <!--div class="col-md-4">
                        <div class="input-group input-large date-picker input-daterange" id="periode" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                            <input type="text" class="form-control" name="date_start" id="date_start" placeholder="Date de début" required>
                            <span class="input-group-addon"> au </span>
                            <input type="text" class="form-control" name="date_end" id="date_end" placeholder="Date de fin" required> </div>
                    </div>
                    <div class="col-md-2">
                        <label for="" class="control-label"><div id="nb_mois"></div></label>
                    </div-->

                </div>
                <div class=" form-group">
                    <label class="control-label col-md-4">Nombre de mois de retenue</label>

                    <div class="col-md-2">
                        <div class="input-group">
                        <input type="number" class="form-control" placeholder="Nombre de mois" name="nb_mois" id="nb_mois" required>
                            <span class="input-group-addon">
                                MOIS
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3" id="fin_date">
                        <label for="" class="control-label"><div id="date_fin"></div></label>
                    </div>

                </div>
                <div class=" form-group">
                    <label class="control-label col-md-4">Montant total à la fin de mon épargne</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control separate" placeholder="Epargne constituée" name="montant_epargne" id="montant_epargne" readonly>
                            <span class="input-group-addon">
                                            F CFA
                                        </span>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="control-label col-md-4">Mode de paiement</label>
                    <div class="col-md-5">
                        <select name="mode_paiement" id="mode_paiement" class="form-control">
                                <option>Prélèvement sur mon salaire</option>
                                <!--option>Versement à la caisse</option>
                                <option>Par chèque non barré</option-->
                            </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Date de la demande</label>
                    <div class="col-md-5">
                        <input disabled type="text" class="form-control" placeholder="Date de souscription" value='{{ "now"|date("d/m/Y") }}'>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="alert alert-danger">
                        <i class="fa fa-info-circle font-red"></i> Je m'engage à <strong>informer par écrit</strong> la Mutuelle de toute modification éventuelle, <strong> au moins un mois avant</strong> le terme de mon épargne.

                    </div>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <button class="btn green btnSubmit" type="button">
                                <i class="fa fa-check"></i> Valider</button>
                            <button type="reset" class="btn btn-default">Annuler</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%block stylesheets %}

<script>
    $(document).ready(function(e) {
        
            /*Séparateur de millier*/
            var separator = " ";
            $('.separate').on('ready change keyup keypress blur', (function (event){

                //Forcer que des chiffres
                $(this).val($(this).val().replace(/[^0-9\.]/g,''));
                    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                        event.preventDefault();
                    }

                //Séparer
                var o = $(this).val().replace(new RegExp(separator, "g"), '')
                $(this).val( o.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1'+separator) );

            }));

        function addMonthToDate(d1, m1){
            //var dat = d1.setMonth(d1.getMonth() + m1);
            var month=d1.getMonth();
            month=month + 1 + m1 ; //javascript date goes from 0 to 11

            var year=d1.getFullYear();
            var day=d1.getDate();

            while(month > 12){
                year = year + 1;
                month = month - 12;
            }

            if (month<10) month="0" + month; //adding the prefix
            if (day<10) day="0" + day; //adding the prefix

            var newDate = day+"/"+month+"/"+year;
            return newDate;

        }

        $('#date_debut').add('#nb_mois').add('#retenue_mensuelle').change(function (e){

            var date_debut = $('#date_debut').val();
            var mois = $('#nb_mois').val();
            
            //Changer le format de la date
            var split_start = $('#date_debut').val().split('/');
            var date_debut = new Date(split_start[1] + "/" + split_start[0] + "/" + split_start[2]);

            var date_fin = addMonthToDate(date_debut, parseInt(mois));
            var s = date_fin.split('/');

            if (s[1] != "NaN"){
            $('#date_fin').html("Le date de fin est <span style='font-size:16px'><strong>" +date_fin+"</strong></span>").addClass("font-yellow-gold bold");
            $('#date_end').val(date_fin);
            }
            
            var v = $('#retenue_mensuelle').val().split(' ');

            for(var i=0; i<v.length; i++){
               $("#retenue_mensuelle").val($("#retenue_mensuelle").val().replace(' ',''));
            }

            var retenue = parseInt($("#retenue_mensuelle").val())

            var retenueSplit = $('#retenue_mensuelle').val().split(" ");

            /*if(typeof retenueSplit[1] === "undefined"){
                var retenue = retenueSplit[0];
            }
            
            if(typeof retenueSplit[1] != "undefined"){
                var retenue = retenueSplit[0]+retenueSplit[1];
            }*/
            console.log(retenueSplit)
            var montant_epargne = retenue * mois;
            $('#montant_epargne').val(montant_epargne);
           
        })

    });
</script>

{%endblock%} {% endblock %}