{% extends 'layouts/layout-adherent.html.twig' %}{%block title%}Espace adhérent{%endblock%} {% block body %}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Espace adhérent</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Solde des comptes</span>
        </li>
        <li>

        </li>
    </ul>
    <div class="page-breadcrumb pull-right">
        <div class="badge badge-orange">
            Espace sécurisé <i class="fa fa-lock"></i>
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title"> Solde des comptes
    <small>situation des comptes adhérent à la date du
            {% set trans_month_hash = {
                "January": "JANVIER",
                "February": "FÉVRIER",
                "March": "MARS",
                "April": "AVRIL",
                "May": "MAI",
                "June": "JUIN",
                "July": "JUILLET",
                "August": "AOÛT",
                "September": "SEPTEMBRE",
                "October": "OCTOBRE",
                "November": "NOVEMBRE",
                "December": "DÉCEMBRE"
            }
        %}
        <strong>{{ "now"|date("d/m/Y") }}</strong></small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="icon-lock font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> Mes comptes à la MA2E</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered myDatatable" id="listeCompte">
                    <thead>
                        <tr>
                            <th style="width:10%"> N° de Compte </th>
                            <th style="width:40%"> Libellé du produit </th>
                            <th class="hidden-xs" style="width:10%"> Montant réel </th>
                            <!--th class="hidden-xs" style="width:10%"> Montant gélé </th-->
                            <th class="hidden-xs" style="width:10%"> Montant Disponible </th>
                            <!--th style="width:10%">Etat actuel</th-->
                            <th class="hidden-xs" style="width:10%">Action</th>
                        </tr>
                    </thead>
                    <!--tfoot>
                        <tr>
                            <th colspan="2" class="text-right">Total</th>
                            <th id="totalMontantReel"></th>
                            <th id="totalMontantGele"></th>
                            <th id="totalMontantDispo"></th>
                            <th colspan="2"></th>
                        </tr>
                    </tfoot-->

                </table>
            </div>
        </div>
    </div>
</div>

<div class="code_adherent" data-codeadherent="{{code_adherent}}"></div>

{% endblock %} {% block stylesheets %}
<script>
    $(document).ready(function() {
        //alert(window.location.origin);
        //alert($(window).width());
        //$base_url = window.location.origin;
        $base_url = "http://10.109.19.235";

        table = $('#listeCompte').DataTable();
        table.clear();

                            /*table.row(this).on('click', 'tr', function (e){
                                if ( $(this).hasClass('selected') ) {
                                    $(this).removeClass('selected');
                                }
                                else {
                                    table.$('tr.selected').removeClass('selected');
                                    $(this).addClass('selected');
                                }
                                var url_compte = table.row('.selected').data()[0];
                                alert(table.row('.selected').data()[5]);
 
                            });*/

        var code_adherent = $('.code_adherent').data("codeadherent");

        $.ajax({

            url: $base_url+"/api-ma2e/web/api/v1/codeCompteDecroissant/" + code_adherent,
            type: "get",
            data: "code = " + code_adherent,
            datatype: 'application/json',

            success: function(res) {
                
                var nb_ligne = res.data.length;
                var path = ""; //varible chemin fonction du type credit ou epargne

                //Calcul des totaux
                var totalMontantReel = 0;
                var totalMontantGele = 0;
                var totalMontantDispo = 0;
                //End totaux

                if (nb_ligne == 0) {
                    /*On reinitialise le datatable*/
                    table.draw(true);

                } else {
                    /*On affiche progressivement les données*/
                    for (var i = 0; i < nb_ligne; i++) {
                        var numcpte = res.data[i].numerocompte;

                        if (res.data[i].typedecompte == "CREDIT") {
                            path = "{{path('adherent-credit', {'numCompte':'numcpte'})}}";
                            path = path.replace("numcpte", numcpte);
                        } else {
                            path = "{{path('adherent-epargne', {'numCompte':'numcpte'})}}";
                            path = path.replace("numcpte", numcpte);
                        }

                        //Ajout des lignes dans le tableau
                        //On s'assure de la responsivité pour l'affichage
                        if($(window).width() < 768){ //si l'ecran est petit on affiche pas les montants gélé et réel

                            table.row.add([
                                res.data[i].numerocompte,
                                res.data[i].produit  + 
                                "<br> <b>Montant réel : </b> " + parseFloat(res.data[i].montantreel).toLocaleString() + 
                                "<br> <b>Montant gélé : </b> " + parseFloat(res.data[i].montantgele).toLocaleString()  + 
                                "<br> <b>Montant disponible : </b> " + parseFloat(res.data[i].montantdispo).toLocaleString()   + 
                                "<br>" + "<a href='" + path + "' class='btn green' title='Consulter'>Consulter</a>",
                                "",
                                "",
                                "",
                                ""
                                
                            ]);
                            
                            table.row(this).column(2).nodes().to$().addClass('hidden-xs');
                            table.row(this).column(3).nodes().to$().addClass('hidden-xs');
                            table.row(this).column(4).nodes().to$().addClass('hidden-xs');
                            table.row(this).column(5).nodes().to$().addClass('hidden-xs');
                            table.row(this).draw();
                            
                        }else{ 
                            table.row.add([
                                res.data[i].numerocompte,
                                res.data[i].produit,
                                parseFloat(res.data[i].montantreel).toLocaleString()  ,
                                //parseFloat(res.data[i].montantgele).toLocaleString()  ,
                                parseFloat(res.data[i].montantdispo).toLocaleString()  ,
                                //res.data[i].etatactuel,
                                "<a href='" + path + "' class='btn green' title='Consulter'>Consulter</a>",
                            ]).draw(true);

                        }

                        //Préparation du total
                        totalMontantReel = totalMontantReel + parseFloat(res.data[i].montantreel);
                        totalMontantGele = totalMontantGele + parseFloat(res.data[i].montantgele);
                        totalMontantDispo = totalMontantDispo + parseFloat(res.data[i].montantdispo);

                        //Affectation du total au tableau
                        $('#totalMontantReel').html(parseFloat(totalMontantReel).toLocaleString());
                        //$('#totalMontantGele').html(parseFloat(totalMontantGele).toLocaleString());
                        $('#totalMontantDispo').html(parseFloat(totalMontantDispo).toLocaleString());


                    }
                }
            },
            error: function(res) {
                table.draw(true);
            }
        });
    })
</script>
{% endblock %}
