{% extends 'base.html.twig' %}{%block title%}Projet immobilier{%endblock%} {% block body %}

<section class="contact-full box-with-image-right section-top-space">

    <div class="center">
        <h2>Conditions d'attribution des logements</h2>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/23.jpg')}}' );">
        </div>

        <div class="content">
            <p>Les critères d'attribution des logements sont les suivants:</p>

            <ol>
                <li>
                    Être employé de l'une des sociétés (CIE, SODECI, CIPREL, GS2E, SGA2E et SIVE);
                </li>
                <li>
                    Être membre de la MA2E;
                </li>
                <li>
                    Avoir payé l'apport initial de 35% du coût correspondant au type de maison choisi;
                </li>
                <li>
                    Avoir une quotité disponible suffisante au moment de la mise en place du crédit (en prenant compte le crédit différé).
                </li>
            </ol>
            <br>

            <p>
                Pour arrêter la liste définitive des attributaires, si l'effectif du nombre de demandes es supérieur au nombre de logements disponibles, les critères complémentaires suivants seront appliqués:
            </p>

            <ol>
                <li>
                    L'ordre d'inscription à l'opération immobilière concernée (date du premier paiement pour le type de maison choisi);
                </li>
                <li>
                    La qualité de membre actif qui sera mesurée par la régularité du membre dans la vie de la MA2E;
                </li>
                <li>
                    L'ancienneté du souscripteur;
                </li>
                <li>
                    Au cas où pour un type de maison donné, l'offre serait inférieure à la demande, les collaborateurs seraient prioritaires par rapport à leur hiérachie.
                </li>


            </ol>
        </div>

        <div class="clear">
        </div>

    </div>

</section>

{% endblock %} {% block stylesheets %} {% endblock %}