{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Crédit ordinaire-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/credit-card.jpg')}}' );">
        </div>

        <div class="content text-justify">

            <h2 class="color-orange">Crédit ordinaire</h2>

            <h4>Caractéristique</h4>
            <p>Crédit ordinaire octroyé à la demande de tout adhérent.</p>

            <h4>Objet</h4>
            <p>financement des besoins de construction, d’acquisition de biens immobiliers, des investissements et de tout autre besoin financier à court, moyen ou long terme </p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents de la MA2E qui disposent d’une épargne expresse en cours de constitution ou déjà constituée et qui totalise plus de six mois (période de carence) de temps d’adhésion effective à la MA2E et dont le besoin exprimé ne peut être financé par un crédit express.</p>

            <h4>Critères d'octroi</h4>
            <p>
                <ul>
                    <li>Adhérent titulaire d’un compte d’épargne ordinaire ;</li>
                    <li>constitution d’une garantie en numéraire de 25% du montant du crédit inférieur à 7 000 000 F CFA et de 50% du montant du crédit supérieur ou égal à 7 000 000 F CFA disponible pour moitié et  le solde déductible du crédit ou à constituer sur 3/4 de la durée du crédit ;</li>
                    <li>­Quotité cessible disponible égale au moins à la mensualité de remboursement du crédit plus 15 000 F CFA.</li>
                    <li>Frais de dossier : 0,5% du montant du prêt sollicité avec un minimum de 5 000 F CFA et un maximum de 50.000 F CFA, déductible du crédit ;</li>
                    <li>­	Fonds de garantie : 1% du Montant du prêt, payable à la mise en place du crédit.</li>
                </ul>
                <!--table class="table-bordered table">
                    <tr>
                        <td>Adhérent titulaire d'un compte d'épargne ordinaire</td>
                        <td>Adhérent non titulaire d’un compte d’épargne ordinaire et d’un compte d’épargne Expresse</td>
                    </tr>
                    <tr>
                        <td><p>Ouverture d'un compte d'Epargne complémentaire;</p></td>
                        <td>­
                            <ul>
                                    <li> Ouvrir un compte d’épargne Expresse et déposer à la caisse un montant équivalent à 24 fois le montant catégoriel ou faire déduire sur le montant du prêt accordé.</li>
                                    <li>Ouverture d’un compte d’épargne ordinaire </li>
                                    <li>Ouverture du compte d’épargne complémentaire.</li>
                                    <li>Ne pas cumuler deux crédits de même nature (possibilité de rachat)</li>
                            </ul>	
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <ul>
                                <li>­Quotité cessible disponible et capacité d’endettement.</li>
                                <li>­Frais de dossier : 0,5% du montant du prêt sollicité avec un minimum de 5.000 FCFA et un maximum de 50.000 FCFA.</li>
                                <li>­Fonds de garantie : 1,0% du Montant du crédit, payable à la mise en place des fonds.</li>
                            </ul>

                        </td>
                    </tr>
                </table-->
                <!--ul>
                    <li>Ouvrir un compte d’épargne Ordinaire ou un compte d’épargne Expresse</li>
                    <li>Etude de la quotité cessible et de la capacité d’endettement</li>
                    <li>Frais de dossier : 0,5% du montant du prêt sollicité avec un minimum de 5 000 FCFA et un maximum de 50 000 FCFA.</li>
                    <li>Fonds de garantie : 1% du Montant du crédit, payable à la mise en place du crédit</li>
                </ul-->
            </p>

            <h4>Montant du crédit</h4>
            <p>
                <ul>
                    <li>Montant minimum : 100 000 FCFA</li>
                    <li>Montant maximum : 10 000 000 FCFA</li>
                </ul>
            </p>

            <h4>Périodicité de remboursement</h4>
            <p>Mensuelle avec possibilité de versement additionnels ponctuels ou remboursement anticipé</p>

            <h4>Modalités de remboursement</h4>
            <p>
                <ul>
                    <li>Retenue à la source, par virement, par chèque ou en espèces</li>
                    <li>­Remboursement anticipé du crédit : retenue de 1% de l’encours en capital du crédit au moment du remboursement</li>
                    <li>Montant minimum de la mensualité : 5 000 FCFA</li>
                </ul>
            </p>
            <!--table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th rowspan="3">
                            Taux d'intérêt</th>
                        <th class="text-center" align="center" colspan="4" style="background-color: #4ba146;color: #fefefe;">
                            Annuel variable entre 7,00% et 6,00%</th>
                    </tr>
                    <tr>
                        <td>
                            Epargne ordinaire / Crédit demandé</td>
                        <td>
                            Entre 0% et 50%</td>
                        <td>
                            Entre 50% et 75%</td>
                        <td>
                            Supérieure à 75%</td>
                    </tr>
                    <tr>
                        <td>
                            Taux applicable</td>
                        <td>
                            7,00%</td>
                        <td>
                            6,50%</td>
                        <td>
                            6,00%</td>
                    </tr>
                </tbody>
            </table-->

            <h4>Taux d’intérêt</h4>
            <p>
                <ul>
                    <li>Annuel variable entre 7,00% et 6,00%, </li>
                    <li>Epargne ordinaire / Crédit demandé
                        <ul>
                            <li>0%  < 50%</li>
                            <li>50% = ou >    75%</li>
                            <li>Supérieur ou égal à 75%</li>
                        </ul>
                    </li>
                </ul>
            </p>

            <h4>Durée maximale du crédit</h4>
            <p>60 mois</p>

            <h4>Garanties associées au crédit</h4>
            <p>
                <ul>
                    <li>­­Dépôt de garantie  constituée par l’adhérent à concurrence de 25% ou 50% du montant du prêt, déductible du crédit, ou à constituer sur ¾ de la durée du prêt sollicité et indisponible jusqu’à l’échéance du prêt.</li>
                    <li>­Fonds de garantie contre les risques d’impayés égale à 1% du crédit;</li>
                    <li>­­Délégation d’une Assurance-Vie emprunteur</li>
                    <li>­En cas de sortie de la société dont l’adhérent est membre, saisie des droits légaux, à concurrence du solde restant dû à MA2E ;</li>
                    <li>­	Délivrance d’une autorisation de domiciliation dans les livres de la MA2E, du FCP de l’adhérent, rendu disponible, en cas de sortie de la société dont l’adhérent est membre.</li>
                </ul>
            </p>



        </div>
        
        <!--div class="text-center" >
            <h2>CONDITIONS D'OCTROI DU CREDIT ORDINAIRE</h2>
        </div>

        <table class="table table-bordered  section-top-space">
            <tbody>
                <tr>
                    <td align="center" colspan="4">A - Tableau de l’épargne exigée </td>
                </tr>
                <tr>
                    <td>
                        <strong>Libellé</strong>
                    </td>
                    <td> Montant  inférieur à 5 millions Jusqu’à (4 999 999) francs </td>
                    <td> Montant de 5 millions < 7 millions (jusqu’à 6 999 999 francs)</td>
                    <td>Montant de 7 millions à 10 millions.</td>
                </tr>
                <tr>
                    <td>Epargne Complémentaire</td>
                    <td>Epargne exigée 25%</td>
                    <td>Epargne exigée 25%</td>
                    <td>Epargne exigée 50%</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <strong>Si l’épargne disponible est inferieur a 12,5% du montant du crédit sollicité:&nbsp;0&lt;EOD&lt;12,5%, trois situations sont prises en compte&nbsp;:<br />
                                <eod<12,5%, compte="" en="" prises="" situations="" sont="" strong="" trois=""></eod<12,5%,></strong></td>
                    <td>
                        -il est prélevé un montant sur le crédit pour constituer les 12,5% d’épargne obligatoire</td>
                    <td rowspan="3">
                        <p>Dossier irrecevable</p>
                        <p>Epargne minimum exigée est de (12&nbsp;,5%)= 625&nbsp;000 FCFA pour un crédit de 5 millions</p>
                    </td>
                    <td rowspan="3">
                        <p>Dossier irrecevable</p>
                        <p>Epargne minimum exigée est de 1&nbsp;700&nbsp;000 francs pour un crédit de 7 millions</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        -le membre doit constituer en plus 12,5% d’épargne complémentaire sur 36 mois si la quotité le permet</td>
                </tr>
                <tr>
                    <td>
                        -Si la quotité est insuffisante, il est prélevé sur le prêt 25% d’épargne complémentaire.<br /> Le crédit est octroyé sur 48 mois</td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <strong>Si l’épargne disponible est égale à 12,5% du montant du crédit sollicité&nbsp;</strong></td>
                    <td>
                        Les 12,5% déjà constitués sont transférés dans le compte épargne complémentaire</td>
                    <td rowspan="2">
                        <p>Dossier irrecevable</p>
                        <p>Les 12,5% déjà constitués sont transférés dans le compte épargne complémentaire<br /> Les 12,5% restants sont constitués sur 36 mois maximum &nbsp; Le crédit est octroyé sur 48mois</p>
                    </td>
                    <td rowspan="2">
                        Idem</td>
                </tr>
                <tr>
                    <td>
                        Les 12,5% restants sont constitués sur au maximum 36 mois<br /> Le crédit est octroyé sur 60 mois</td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p><strong>Si l’épargne disponible est égale à 25% du montant du sollicité</strong></p>
                    </td>
                    <td>
                        <p>Le montant de l’épargne disponible est transféré dans le compte d’épargne complémentaire</p>
                    </td>
                    <td>
                        <p>Dossier recevable</p>
                        <p>Le montant de l’épargne est transféré dans le compte d’épargne complémentaire</p>
                    </td>
                    <td>
                        <p>Dossier recevable</p>
                        <p>Le montant de l’épargne est transféré dans le compte d’épargne complémentaire</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Le crédit est octroyé sur 60 mois et le client ne fait plus d’épargne complémentaire</p>
                    </td>
                    <td>
                        <p>Le crédit est octroyé sur 60 mois et le client ne fait plus d’épargne complémentaire</p>
                    </td>
                    <td>
                        <p>Compléter l’épargne a hauteur de 50% en faisant une épargne complémentaire sur 36 mois maximum</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p><strong>Si l’épargne disponible est supérieure est à 25% du montant du crédit sollicité mais inferieur a 50%</strong></p>
                    </td>
                    <td>
                        <p>Le reste de l’épargne &gt;&nbsp; à 25% est conservé sur le compte d’épargne ordinaire a la disposition du client</p>
                    </td>
                    <td>
                        <p>Dossier recevable</p>
                        <p>Le reste de l’épargne &gt; à 25% est conservé sur le compte d’épargne ordinaire à la disposition du client.</p>
                    </td>
                    <td>
                        <p>Dossier recevable</p>
                        <p>Compléter l’épargne a hauteur de 50% en faisant une épargne complémentaire sur 36 mois maximum</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Le crédit est octroyé sur 60 mois et le client ne fait plus d’épargne complémentaire</p>
                    </td>
                    <td>
                        <p>Le crédit est octroyé sur 60 mois et le client ne fait plus d’épargne complémentaire</p>
                    </td>
                    <td>
                        <p>Le crédit et octroyé sur 60 mois</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center" >
            <h4>B-	LISTE DES DOSSIERS A FOURNIR POUR L’OBTENTION D’UN PRÊT </h4>
        </div>
        <div>
            <ul>
                <li>Une demande manuscrite précisant le montant demandé et la nature du prêt. Si le montant excède 5 millions, joindre les éléments justificatifs.</li>
                <li>Etat des droits légaux (fournir par DRH) </li>
                <li>Remplir le formulaire du contrat de prêt</li>
                <li>Joindre une copie du bulletin de salaire </li>
                <li>Joindre une copie de la CNI ou du badge de la société</li>
                <li>Remplir la fiche de constitution de l’épargne expresse si le compte n’est pas ouvert.</li>
                (A  compter du 1er janvier 2015, le membre qui n’a pas son compte d’épargne expresse ouvert sera tenu de payer en une seule fois le total équivalent à 24 fois son montant catégoriel). 
                Dans la phase de mise en œuvre, le simple fait d’ouvrir le compte suffit à remplir les autres formalités de la demande de crédit. Le montant catégoriel sera prélevé sur une période d’au moins 24 mois. 
                <li>Remplir la fiche d’ouverture du compte d’épargne complémentaire.</li>
                <li>Fournir une copie du Contrat d’Assurance ALLIANZ ou Atlantique Assurance</li>
                Documents complémentaires :
                
                <ul>
                        <li>Obtenir une fiche de cession de salaire auprès du tribunal de travail</li>
                        <li>Signer la reconnaissance de dette au moment du retrait du chèque</li>
                        <li>L’emprunteur peut fournir toute information susceptible de confirmer sa capacité à emprunter et à rembourser</li>
                </ul>
            </ul>
                
        </div-->


        <div class="clear">
        </div>

    </div>

</section>
<!-- /Crédit ordinaire-->


{% endblock %} {% block stylesheets %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% endblock %}