{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space" id="">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargneex.jpg')}}' );">
        </div>

        <div class="content">

            <h2 class="color-orange">Crédit expresse</h2>

            <h4>Caractéristique</h4>
            <p>Formule de crédit destinée aux adhérents ayant cotisé à l’épargne expresse.</p>

            <h4>Objet</h4>
            <!--p>Crédit destiné à financer divers besoins ponctuels des adhérents, sous réserve du respect de la quotité cessible.</p-->
            <p>Crédit destiné à financer divers besoins ponctuels en l’occurrence de consommation des adhérents. </p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents de la MA2E.</p>

            <h4>Critères d'octroi</h4>
            <p>
                <ul>
                    <li>Quotité cessible disponible</li>
                    <li>Epargne expresse disponible ou en cours de constitution.</li>
                    <li>Fonds de garantie : 0,50% du Montant du crédit, payables à la mise en place du crédit.</li>
                    <li>Frais de dossier forfaitaire : 2 000 F CFA déductibles du montant du crédit</li>
                </ul>
                <!--ul>
                    <li>Conditions préliminaires : nature de crédit</li>
                    <ul>
                        <li>Crédit scolaire</li>
                        <li>Crédit santé</li>
                        <li>Crédit assurance véhicule</li>
                        <li>Incendie, inondation</li>
                        <li>Accident</li>
                        <li>Décès</li>
                        <li>Déménagement, affectation</li>
                    </ul>
                    <li>Quotité cessible disponible</li>
                    <li>Epargne expresse équivalant à au moins 24 mois de cotisation.</li>
                    <li>Fonds de garantie : 0,50% du montant du prêt, payable à la mise en place du crédit</li>
                    <li>Frais de dossier forfaitaire : 2 000 FCFA</li>
                </ul-->
                <!--ul>
                    <li>Scolarité, santé, Assurance véhicule, Incendie, Inondation, Accident</li>
                    <li>Décès, Déménagement, Affectation</li>
                    <li>Quotité cessible disponible</li>
                    <li>Epargne expresse équivalant à au moins 24 mois de cotisation.</li>
                    <li>Fonds de garantie : 0,50% du montant du prêt, payable à la mise en place du crédit</li>
                    <li>Frais de dossier forfaitaire : 2 000 FCFA</li>
                </ul-->
            </p>

            <h4>Montant du crédit</h4>
            <p>
                <ul>
                    <li>Montant minimum : 50 000 FCFA</li>
                    <li>Montant maximum : 2 000 000 FCFA</li>
                </ul>
            </p>

            <h4>Périodicité de remboursement</h4>
            <!--p>Mensuelle avec possibilité de faire des anticipations (rachat).</p-->
                <p>Mensuelle ou ponctuelle avec possibilité de faire une anticipation (rachat total du solde restant dû)</p>

            <h4>Modalité de remboursement</h4>
            <p>
                <ul>
                    <li>Retenue à la source, par virement, par chèque ou en espèces</li>
                    <li><strong> Remboursement anticipé du crédit autorisé</strong> : Charge de 1% de l’encours en capital du crédit au moment du remboursement</li>
                    <li>Montant minimum de la mensualité: 5 000 FCFA</li>
                </ul>
            </p>

            <h4>Taux d’intérêt</h4>
            <p>
                    <p>Taux d’intérêt variable selon le niveau de l’épargne expresse:</p>
                <ul>
                    <li>24 mois
                        <=Épargne expresse < 48 mois : 9%</li>
                            <li>8 mois
                                <=Épargne expresse < 72 mois : 8,5%</li>
                                    <li>72 mois
                                        <=Épargne expresse < 96 mois : 8%</li>
                                            <li>96 mois
                                                <=Épargne expresse < 120 mois : 7,5%</li>
                                                    <li>120 mois
                                                        <=Épargne expresse < 48 mois : 7%</li>
                </ul>
                <p>Intérêt payable mensuellement</p>
            </p>

            <h4>Durée maximale du crédit</h4>
            <p>24 mois</p>

            <h4>Garantie associée au crédit</h4>
            <p>
                <ul>
                    <li>Epargne constituée par l’adhérent à concurrence de 24 mois d’épargne expresse</li>
                    <li>En cas de sortie de la société dont l’adhérent est membre, saisie des droits légaux et de tout autre revenu détenu par l’entreprise à concurrence du solde restant dû à MA2E.</li>
                    <li>Fonds de garantie de 0, 5% du crédit sollicité</li>
                    <li>Délégation d’une Assurance-Vie emprunteur</li>
                    <li>Salaire du membre</li>
                </ul>
            </p>

            <!--h4>Date de validité</h4>
            <p>A partir du 1er juillet 2014</p-->

        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %} {% endblock %}