{% extends 'base.html.twig' %}{%block title%} Événements{%endblock%} {% block body %}

<section class="double-content section-top-space">

    <div class="center">


        <h2>Nos dépêches</h2>
        <!--Ici nous rangerons les dépêches par ordre d'enregistrement decroissant-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Réunion des membres</h5>
                            <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores beatae nihil, fugiat quia asperiores! Explicabo magnam officiis esse vero dolor enim voluptates animi sed repellendus ab, necessitatibus tempora labore!</p>
                            <a href="#" class="btn success">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Réunion des membres</h5>
                            <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores beatae nihil, fugiat quia asperiores! Explicabo magnam officiis esse vero dolor enim voluptates animi sed repellendus ab, necessitatibus tempora labore!</p>
                            <a href="#" class="btn success">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Réunion des membres</h5>
                            <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores beatae nihil, fugiat quia asperiores! Explicabo magnam officiis esse vero dolor enim voluptates animi sed repellendus ab, necessitatibus tempora labore!</p>
                            <a href="#" class="btn success">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Réunion des membres</h5>
                            <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores beatae nihil, fugiat quia asperiores! Explicabo magnam officiis esse vero dolor enim voluptates animi sed repellendus ab, necessitatibus tempora labore!</p>
                            <a href="#" class="btn success">Voir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear">
        </div>

    </div>



</section>

{% endblock %} {% block stylesheets %}

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>

<style>
    /* Green */
    
    .card {
        margin-bottom: 30px;
    }
    
    .success {
        border-color: #4CAF50;
        color: green;
    }
    
    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>
{% endblock %}