{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargne-vp.jpg')}}' );">
        </div>

        <div class="content text-justify">
                <h2>Dépôts à terme à versements progressifs</h2>

                <p>Le compte de dépôt à terme à versements progressifs, est un compte qui est destiné aux membres qui envisage de faire un placement à partir de versements périodiques,  d’investir dans une activité ou réaliser un projet spécifique à partir de leurs épargnes. </p>

                <h4> 	Conditions d’ouverture </h4>
                <p>
                    <ul>
                        <li>Disposer au préalable d’un compte d’épargne expresse ou ordinaire;</li>
                        <li>Disposer d’un montant minimum de  10 000 F CFA à la souscription;</li>
                        <li>Accepter d’effectuer des versements réguliers sur une période donnée ;</li>
                        <li>Renseigner et faire signer le formulaire du contrat de dépôt à terme à versements progressifs;</li>
                    </ul>
                </p>

                <h4>Fonctionnement </h4>

                <p>
                    <ul>
                        <li>Le compte de dépôt à terme à versements progressifs est alimenté mensuellement selon les modalités fixées à la souscription et n’admet pas de retrait jusqu’à la fin du contrat;</li>
                        <li>Le montant constitué par le dépôt à terme à versements progressifs peut servir de garantie partielle aux crédits ordinaires ;</li>
                        <li>Le montant minimum à verser régulièrement selon les modalités fixées à la souscription est de 5 000 F CFA ;</li>
                        <li>Le montant minimum à atteindre au terme du contrat est de 120 000 F CFA ;</li>
                        <li>En cas de retrait du montant total avant terme, il est appliqué une retenue de 2% du dépôt constitué avant 2 ans et 1% après 2 ans.</li>
                        <li>Pas de retenue pour un retrait, en cas de décès, d’invalidité permanente  ou de départ involontaire d’un membre ; </li>
                        <li>Ce compte est rémunéré selon les conditions suivantes :
                            <ul>
                                <li>Pour une durée inférieure ou égale à deux (02) ans, et pour un montant inférieur ou égal à 500 000 F, il est appliqué un taux de 3,5% l’an ;</li>
                                <li>Pour une durée inférieure ou égale à deux (02) ans, et pour un montant supérieur à 500 000 F, il est appliqué un taux de 3,6% l’an ;</li>
                                <li>Pour une durée de plus de deux (02) ans à quatre (04) ans, et pour un montant inférieur ou égal à 1 000 000 F, il est appliqué un taux de 3,70% l’an;</li>
                                <li>Pour une durée de plus de deux (02) ans à quatre (04) ans, et pour un montant supérieur à 1 000 000 F, il est appliqué un taux de 3,80% l’an;</li>
                                <li>Pour une durée de plus de quatre (04) ans à cinq (05) ans et pour un montant inférieur ou égal à 2 000 000 F, il est appliqué un taux de 3,90% l’an;</li>
                                <li>Pour une durée de plus de quatre (04) ans à cinq (05) ans et pour un montant supérieur à 2 000 000 F, il est appliqué un taux de 4,00% l’an;</li>
                            </ul>
                        </li>
                        <li>Les intérêts sont calculés au terme souscrit dans le contrat (date d’échéance du DATAVP)</li>
                        <li>Les intérêts et le capital souscrit sont reversés à l’échéance sur le compte d’épargne ordinaire ;</li>
                        <li>La durée minimum de souscription à ce compte est de deux (02) ans et la durée maximale est de cinq (05) ans;</li>
                    </ul>
                </p>
                <h4>Condition de fermeture </h4>
                <p>
                    <ul>
                        <li>La décision de clôture intervient à la date d’échéance prévue dans le contrat ou à la demande du membre ;</li>
                        <li>Il n’y a pas de frais à la clôture du compte.</li>
                    </ul>
                </p>

        </div>

        <!--div class="content">

            <h2>Dépôts à terme à versements progressifs</h2>

            <h4>Caractéristique</h4>
            <p>Compte d’Epargne à terme à versements progressifs<br> Capital et intérêts disponibles à l’échéance.</p>

            <h4>Objet</h4>
            <p>Constitution d’épargne à terme selon des conditions fixées à la souscription.</p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents.</p>

            <h4>Montant</h4>
            <p>
                <ul>
                    <li>A la souscription : 10 000 FCFA</li>
                    <li>Par versement : 5 000 FCFA</li>
                    <li>A terme : 70 000 FCFA</li>
                </ul>
            </p>

            <h4>Périodicité de versement</h4>
            <p>Au choix.</p>

            <h4>Modalité de versement</h4>
            <p>Retenue à la source ou par chèque ou espèces.</p>

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr style="background-color: #4ba146;color: #fefefe">
                        <td rowspan="7">
                            Taux de rémunération</td>
                        <th class="text-center">
                            Durée du DAT</th>
                        <th class="text-center">
                            Montant du DAT</th>
                        <th class="text-center">
                            Taux d'intérêt brut annuel</th>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            2 ans</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,50%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            3,60%</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            3 à 4 ans</td>
                        <td>
                            Inférieur ou égal à 1 000 000 FCFA</td>
                        <td>
                            3,70%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 1 000 000 FCFA</td>
                        <td>
                            3,80%</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            5 ans</td>
                        <td>
                            Inférieur ou égal à 2 000 000 FCFA</td>
                        <td>
                            3,90%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 2 000 000 FCFA</td>
                        <td>
                            4,00%</td>
                    </tr>
                </tbody>
            </table>

            <h4>Périodicité de calcul des intérêts</h4>
            <p>Annuelle</p>

            <h4>Base de calcul des intérêts</h4>
            <p>Encours moyen sur douze (12) mois<br> Taux d’intérêt appliqué selon la maturité des versements</p>

            <h4>Date de valeur</h4>
            <p>Versement : j+5 jours</p>

            <h4>Durée minimale de l'épargne</h4>
            <p>Minimum : 2 ans<br> Maximum : 5 ans</p>

            <h4>Modalités de retraits</h4>
            <p>
                <ul>
                    <li> A l’écheance : capital + interêts</li>
                    <li> Avant terme : retenue de 2% du dépôt constitué avant 2 ans et 1% après 2ans</li>
                    <li>Pas de retenue en cas de décès ou d’invalidité permanente</li>
                </ul>
            </p>

            <h4>Frais de gestion</h4>
            <p>Pas de frais de gestion.</p>


            <h4>Avantages du produit</h4>
            <p>Sert de garantie partielle aux Crédits ordinaires.</p>

            <h4>Date de validité</h4>
            <p>A partir du 1er juillet 2014</p>


        </div-->

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style>
    tr .table-color {
        background-color: #4ba146;
        color: #fefefe;
        text-align: center;
    }
    
    .table-striped>tbody>tr>.table-color {
        background-color: #4ba146;
    }
</style>
{% endblock %}