{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/dats.jpg')}}' );">
        </div>

        <div class="content text-justify" >
                <h2>Dépôts à terme simple</h2>

                <p>Le compte de dépôt à terme est un compte d’épargne qui peut être ouvert dans les livres de la MA2E pour tous membres qui désirent faire des placements sur une période déterminée auprès de l’institution. Il peut aussi servir de garantie partielle aux Crédits ordinaires à condition de le notifier dans le contrat de crédit.</p>

                <h4>Conditions d’ouverture </h4>
                <ul>
                    <li>Disposer au préalable d’un compte épargne expresse;</li>
                    <li>Disposer d’un montant minimum de  100 000 F CFA de dépôt à la souscription;</li>
                    <li>Renseigner et faire signer le formulaire du contrat de dépôt à terme simple par le membre.</li>
                </ul>

                <h4> 	Fonctionnement  </h4>
                <ul>
                    <li>Le compte de dépôt à terme simple est ouvert avec un montant qui fait l’objet du contrat à la souscription;</li>
                    <li>La constitution du montant du dépôt à terme simple peut se faire à partir d’une retenue à la source, en espèces ou par chèque. Dans ce cas, la date de valeur du DATS sera celle de la disponibilité du montant encaissé.</li>
                    <li>Aucun versement ni retrait n’est permis sur ce compte jusqu’au terme prévu au contrat ;</li>
                    <li>La résiliation du contrat avant terme, donne droit à une retenue de 2% du dépôt constitué  sauf en cas de décès, d’invalidité permanente ou de départ involontaire du membre ;</li>
                    <li>Le montant minimum du compte est de 100  000 F CFA ; </li>
                    <li>Ce compte ne fait pas l’objet de prélèvement mensuel de frais de tenue de compte;</li>
                    <li>Ce compte est rémunéré selon le barème suivant : </li>
                </ul>
                
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr class="table-color" style="background-color: #4ba146;color: #fefefe;">
                        <th class="text-center">
                            Durée du DATS</th>
                        <th class="text-center">
                            Montant du DATS</th>
                        <th class="text-center">
                            Taux d'intérêt brut annuel</th>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Comprise entre six mois et un an</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,5%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            3,65%</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Comprise entre un et deux ans</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,65%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            3,80%</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Supérieure à deux ans</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,80%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            4,00%</td>
                    </tr>
                </tbody>
            </table>
            <p>

                    <ul>
                        <li>Le calcul des intérêts se fait au terme du contrat ;</li>
                        <li>Les intérêts ne sont pas capitalisés en cas de renouvellement, sauf stipulation d’un nouveau contrat, et sont reversés à l’échéance en même temps que le capital souscrit sur le compte d’épargne ordinaire;</li>
                        <li>La durée minimum de souscription à ce compte est de six (6) mois ;</li>
                    </ul>
            </p>
            
            <h4>Condition de fermeture </h4>
            <p>
                <ul>
                    <li>La décision de clôture intervient à la date d’échéance prévue dans le contrat où à la demande du membre. Dans ce dernier cas, le membre subie une retenue de 2% du dépôt constitué  sauf en cas de décès, d’invalidité permanente ou de départ involontaire;</li>
                    <li>Les frais de clôture ne sont pas  dus sur ce compte.</li>
                </ul>
            </p>

        </div>

        <!--div class="content">

            <h2>Dépôts à terme simple</h2>

            <h4>Caractéristique</h4>
            <p>Compte d’Epargne à terme <br> Capital et intérêts disponibles à l’échéance.</p>

            <h4>Objet</h4>
            <p>Constitution d’épargne à terme selon des durées fixées à la souscription.</p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents.</p>

            <h4>Montant minimal</h4>
            <p>100 000 FCFA</p>

            <h4>Périodicité de versement</h4>
            <p>A la souscription.</p>

            <h4>Modalité de versement</h4>
            <p>Retenue à la source ou par chèque ou espèces.</p>

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr class="table-color" style="background-color: #4ba146;color: #fefefe;">
                        <th>
                            &nbsp;</th>
                        <th class="text-center">
                            Durée du DAT</th>
                        <th class="text-center">
                            Montant du DAT</th>
                        <th class="text-center">
                            Taux d'intérêt brut annuel</th>
                    </tr>
                    <tr>
                        <td rowspan="6">
                            Taux de rémunération</td>
                        <td rowspan="2">
                            Comprise entre six mois et un an</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,5%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            3,65%</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Comprise entre un et deux ans</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,65%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            3,80%</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Supérieure à deux ans</td>
                        <td>
                            Inférieur ou égal à 500 000 FCFA</td>
                        <td>
                            3,80%</td>
                    </tr>
                    <tr>
                        <td>
                            Supérieur à 500 000 FCFA</td>
                        <td>
                            4,00%</td>
                    </tr>
                </tbody>
            </table>

            <h4>Périodicité de calcul des intérêts</h4>
            <p>Tous les six (6) mois</p>

            <h4>Base de calcul des intérêts</h4>
            <p>Encours moyen sur six (6) mois.</p>

            <h4>Dates de valeur</h4>
            <p>-	Versement : j+5 jours <br> -	Retrait : j-10 jours</p>

            <h4>Durée minimale de l'épargne</h4>
            <p>Six (6) mois.</p>

            <h4>Modalités de retraits</h4>
            <p>
                <ul>
                    <li> A l’écheance : capital + interêts</li>
                    <li> Avant terme : retenue de 2% du dépôt constitué</li>
                    <li>Pas de retenue en cas de décès ou d’invalidité permanente</li>
                </ul>
            </p>
            <h4>Frais de gestion</h4>
            <p>Pas de frais de gestion.</p>

            <h4>Avantages du produit</h4>
            <p>Sert de garantie partielle aux crédits ordinaires.</p>

            <h4>Date de validité</h4>
            <p>A partir du 1er juillet 2014</p>


        </div-->

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style>
    tr .table-color {
        background-color: #4ba146;
        color: #fefefe;
        text-align: center;
    }
    
    .table-striped>tbody>tr>.table-color {
        background-color: #4ba146;
    }
</style>
{% endblock %}