{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/time.jpg')}}' );">
        </div>

        <div class="content text-justify">
                <h2>Epargne expresse</h2>

                <p>L’épargne expresse est constituée dans un compte  d’épargne ouvert dans les livres de la MA2E par toutes les personnes qui adhèrent à l’institution. Ce compte d’épargne rend son titulaire accessible à tous les produits de crédit de l’institution. L’épargne expresse peut être constituée en une seule fois. Dans ce cas, un compte d’épargne est directement ouvert. Elle peut être constituée mensuellement. Dans ce cas, il est ouvert un plan d’épargne d’une durée de 24 mois.
                Le compte d’épargne expresse est clôturé lorsque le titulaire sort du groupe des employeurs. </p>
            <h4>Conditions d’ouverture d’un plan d’épargne expresse </h4>
            <p>
                <ul>
                    <li>Prélèvement mensuel de 10 000 F CFA minimum pour les Cadres de direction, de 5 000 F CFA pour les cadres, de 3 000 F CFA pour les agents de Maîtrise supérieure et 1 500 FCFA pour les agents de Maîtrise 1 et 2, Employés et Ouvriers (EOC) ;</li>
                    <li>Pas de frais d’ouverture ni de frais de clôture de compte ;</li>
                </ul>
            </p>
            <h4>Fonctionnement</h4>
            <p>
                    Le compte d’épargne expresse détenu par le membre à la MA2E   </br>
                    Il est unique pour tout adhérent ;</br>
                    Reçoit des  versements espèces et les virements ;</br>
                <ul>
                    <li>La périodicité d’alimentation du compte par les membres est mensuelle selon les montants définis par catégorie d’agent. Les retenues se font à la source et reversées à la MA2E. Cependant, les versements peuvent se faire à tout moment en espèce selon la volonté du membre ;</li>
                </ul>
                Reçoit des  versements espèces et les virements ;</br>
                <ul>
                    <li>Il est admis un seul retrait par mois sur ce compte à condition que l’épargne disponible après le retrait corresponde toujours à un montant supérieur ou égal à 24 fois les cotisations mensuelles ;</li>
                    <li>Le montant minimum à retirer est de 5 000 F CFA :</li>
                    <li>Pas de frais de gestion mensuels sur le compte ;</li>
                    <li>Donne droit aux Crédits Expresses et ordinaire, à un taux d’intérêt variable selon le niveau d’épargne :</li>
                    <li>
                        <ul>
                            <li>24 mois ≤ Epargne expresse ˂ 48 mois : 9%</li>
                            <li>48 mois ≤ Epargne expresse ˂ 72 mois : 8,5%</li>
                            <li>72 mois ≤ Epargne expresse ˂ 96 mois : 8%</li>
                            <li>96 mois ≤ Epargne expresse ˂ 120 mois : 7,5%</li>
                            <li>120 mois ≤ Epargne expresse : 7%</li>
                        </ul>
                    </li>
                    <li>Ce compte est rémunéré au taux annuel de 3,5%.</li>
                </ul>
            </p>     
            <h4>Condition de fermeture </h4> 
            <p>
                <ul>
                    <li>La décision de clôture peut émaner soit de l‘Institution pour licenciement ou démission de l’agent de son service, soit du membre qui rompt son adhésion. Une demande  doit être écrite par le membre qui demande la clôture de son compte ; </li>
                    <li>Pas de frais de clôture du compte.</li>
                </ul>
            </p>
        </div>

        <!--div class="content">

            <h2>Epargne express</h2>

            <h4>Caractéristique</h4>
            <p>Compte d'épargne ouvert à tout moment aux adhérents ou à la demande d'un crédit.</p>

            <h4>Objet</h4>
            <p>Constitution d’une épargne en garantie des crédits express par les adhérents selon les montants définis par l’Assemblée Générale.
            </p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents.</p>

            <h4>Montant</h4>
            <p>
                <ul>
                    <li>Cadres de Direction : 10 000 FCFA/mois</li>
                    <li>Cadres : 5 000 FCFA/mois</li>
                    <li>Maîtrises Sup (M3-M5) : 3 000 FCFA/mois</li>
                    <li>EOC/M1-M2 : 1 500 FCFA/mois</li>
                </ul>
            </p>

            <h4>Périodicité de versement</h4>
            <p>Mensuelle.</p>

            <h4>Modalité de versement</h4>
            <p>Retenue à la source.</p>

            <h4>Taux de rémunération</h4>
            <p>Taux d'intérêt annuel brut: 3,5%</p>

            <h4>Durée de l'épargne</h4>
            <p>Permanente jusqu’à 24 mois et facultative au-delà avec le bénéfice de taux de crédit bonifiés</p>

            <h4>Modalités de retraits</h4>
            <p>Conditions nécessaires:<br> Avoir épargner au moins pendant 24 mois.<br> L’épargne disponible après le retrait doit toujours correspondre à un montant supérieur ou égal à 24 fois les cotisations mensuelles.<br> Montant minimum de retrait :
                5 000 FCFA<br> Périodicité de retrait : un retrait par mois<br>
            </p>

            <h4>Frais de gestion</h4>
            <p>Pas de frais de gestion<br>
            </p>

            <h4>Avantages du produit</h4>
            <p>
                <ul>
                    <li>Donne droit aux Crédits Express, à un taux d’intérêt variable selon le niveau de l’épargne:</li>
                    <li>24 mois
                        <=Épargne expresse < 48 mois : 9%</li>
                            <li>48 mois
                                <=Épargne expresse < 72 mois : 8,5%</li>
                                    <li>72 mois
                                        <=Épargne expresse < 96 mois : 8%</li>
                                            <li>96 mois
                                                <=Épargne expresse < 120 mois : 7,5%</li>
                                                    <li>120 mois
                                                        <=Épargne expresse < 48 mois : 7%</li>
                                                            <li>ii.	Donne droit au bénéfice d’un crédit ordinaire</li>
                </ul>
            </p>
            <h4>Date de validité</h4>
            <p>A partir du 1er juillet 2014</p>


        </div-->

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %} {% endblock %}