{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargnecomplementaire164.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Dépôt de garantie</h2>

            <h4>Caractéristique</h4>
            <p>Epargne constituée par l’adhérent suite à l’octroi d’un crédit ordinaire.</p>

            <h4>Objet</h4>
            <p>Constitution d’une garantie partielle des crédits ordinaires.</p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents souscripteurs de prêts.</p>

            <h4>Montant minimal</h4>
            <p>Montant permettant de constituer une épargne équivalant à 25% du montant du prêt.</p>

            <h4>Modalité de versement</h4>
            <p>Retenue à la source ou par prélèvement automatique sur le compte d’Epargne Ordinaire.</p>

            <h4>Durée de constitution</h4>
            <p>Au plus 3/4 de la durée du prêt.</p>

            <h4>Période de sûreté</h4>
            <p>1/4 de la durée du prêt.</p>

            <h4>Taux de rémunération</h4>
            <p>Taux d’intérêt annuel brut : 3,50%</p>

            <h4>Périodicité de calcul des intérêts</h4>
            <p>Annuelle – en cas de remboursement anticipé, les intérêts sont calculés sur la durée courue</p>

            <h4>Base de calcul des intérêts</h4>
            <p>Encours moyen sur douze (12) mois</p>

            <h4>Dates de valeur</h4>
            <p>Versement : j+5 jours</p>

            <h4>Disponibilité de l’épargne</h4>
            <p>A l’échéance du Crédit</p>

            <h4>Modalités de retraits</h4>
            <p>Aucun retrait n’est possible<br> Transfert du solde sur le compte d’Epargne Ordinaire à l’échéance du Crédit
            </p>

            <h4>Frais de gestion</h4>
            <p>Pas de frais de gestion</p>

            <h4>Date de validité</h4>
            <p>A partir du 1er juillet 2014</p>
            
            <div class="alert alert-danger"><strong>NB :</strong> l’épargne complémentaire est constituée dès que la demande de crédit est traitée et est rendue indisponible pendant la durée du remboursement du prêt.</div>
       
        </div>


        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %} {% endblock %}