{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/coins.jpg')}}' );">
        </div>
        <div class="content text-justify">

                <h2>Epargne ordinaire</h2>

                <p>Le compte d’épargne ordinaire est ouvert à tout moment à la demande de l’adhérent, en vue de constituer une épargne libre. </p>
                <h4>Conditions d’ouverture </h4>
                <p>
                    <ul>
                        <li>Disposer au préalable d’un compte d’épargne expresse ;</li>
                        <li>Souscrire à un montant minimum de 3 500 F à verser mensuellement ;</li>
                    </ul>
                </p>
                <h4>Fonctionnement </h4>
                <p>
                    <ul>
                        <li>Le compte d’épargne ordinaire  détenu par le membre à la MA2E   est utilisé pour les transactions suivantes, à savoir ;
                            <ul>
                                <li>Les versements et les retraits du membre ; </li>
                                <li>Les virements internes vers d’autres comptes d’épargne.</li>
                            </ul>
                        </li>
                        <li>Le montant minimum du versement sur le compte est de <strong> 3 500 F CFA</strong>  ;</li>
                        <li>La périodicité d’alimentation du compte peut être mensuelle ou ponctuelle ;</li>
                        <li>Les versements peuvent se faire à tout moment à partir des retenus à la source ou en espèces selon la volonté du membre ;</li>
                        <li>Les retraits peuvent se faire à tout moment à condition de maintenir au minimum <strong> 3 500 F</strong> dans le compte ;</li>
                        <li>Le solde du compte d’épargne ordinaire ne peut excéder <strong>10 millions de F CFA</strong></li>
                        <li>Pas de frais de gestion sur ce compte;</li>
                        <li>Ce compte est rémunéré au taux annuel de <strong>3,5% </strong>;</li>
                        <li>La date de valeur est le 16 du mois pour les versements en date du 01 au 15 du mois ; la date de valeur est le 1er du mois pour les versements du 16 au 30/31 du mois.</li>
                        <li>La date de valeur est le 1er du mois pour le retraits du 01 au 15 ; la date de valeur est le 16 pour les retraits du 16 au 30/31</li>
                        <li>Le  calcul des intérêts se fait à la clôture de l’exercice comptable.</li>
                        <li>Ce compte donne droit au crédit ordinaire et peut servir de garantie au crédit ordinaire.</li>
                    </ul>
                </p>

                <h4>Condition de fermeture </h4>

                <p>
                    <ul>
                        <li>La décision de clôture peut émaner soit de l‘Institution pour licenciement ou démission de l’agent de son service, soit du membre pour désadhésion. Une demande doit être écrite par le membre qui demande la clôture de son compte. </li>
                        <li>Pas de frais de clôture du compte;</li>
                    </ul>
                </p>


        </div>

        <!--<div class="content">

            <h2>Epargne ordinaire</h2>

            <h4>Caractéristique</h4>
            <p>Compte d'épargne libre à tout moment à la demande de l'adhérent.</p>

            <h4>Objet</h4>
            <p>Constitution d'une épargne pour l'adhérent.
            </p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents.</p>

            <h4>Montant minimum</h4>
            <p>3 500 FCFA/mois</p>

            <h4>Périodicité de versement</h4>
            <p>Mensuelle ou ponctuelle.</p>

            <h4>Modalité de versement</h4>
            <p>Retenue à la source ou versement libre de l'adhérent.</p>

            <h4>Durée minimale de l'épargne</h4>
            <p>6 mois</p>

            <h4>Taux de rémunération</h4>
            <p>Taux d'intérêt annuel brut: 3,5%</p>

            <h4>Périodicité de calcul des intérêts</h4>
            <p>Chaque six (6) mois. A partir de six (6) mois révolus.</p>

            <h4>Base de calcul des intérêts</h4>
            <p>Encours moyen sur six(6) mois.</p>

            <h4>Date de valeur</h4>
            <p>Versement: j+5 jours<br> Retrait: j-10 jours
            </p>

            <h4>Modalités de retraits</h4>
            <p>Conditions préliminaires: retrait possible à tout moment avec obligation de maintenir au moins 3 500FCFA dans le compte <br> Montant minimum: 5 000 FCFA sous réserve d’un solde disponible supérieur à 3.500 FCFA<br> Périodicité de retrait: libre dans la limite de l'épargne disponible <br>
                Epargne disponible:
                Part de l'épargne qui ne sert pas de garantie partielle à un prêt.
            </p>

            <h4>Frais de gestion</h4>
            <p>Pas de frais de gestion (0%).</p>

            <h4>Avantages du produit</h4>
            <p>Donne droit au bénéfice d'un Crédit Ordinaire<br>
                Sert de garantie partielle aux Crédits Ordinaires.</p>

            <h4>Date de validité</h4>
            <p>A partir du 1er juillet 2014</p>


        </div-->

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %} {% endblock %}