{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/billet-home.png')}}' );">
        </div>

        <div class="content text-justify">
                <h2>Epargne logement</h2>

                <p>L’épargne logement est constituée dans un compte d’épargne logement ouvert dans les livres de la MA2E en vue d’acquérir un logement du programme immobilier de MA2E. </p>
                
                <h4>Conditions d’ouverture </h4>
                <p>
                    <ul>
                        <li>Disposer au préalable d’un compte d’épargne expresse et ordinaire;</li>
                        <li>Accepter d’effectuer un versement périodique, mensuel ou ponctuel sur le compte jusqu’à la constitution de l’apport personnel ou du coût du logement. </li>
                        
                    </ul>
                </p>

                <h4>Fonctionnement </h4>
                <p>
                    <ul>
                        <li>Les versements sur le compte peuvent se faire mensuellement ou de façon ponctuelle à partir d’une retenue à la source ou en espèces ;</li>
                        <li>Les opérations de retrait  ne sont pas autorisées sur ce compte ;</li>
                        <li>Pas de frais de gestion ;</li>
                        <li>Ce compte n’est rémunéré ;</li>
                    </ul>
                </p>
                <h4>Condition de fermeture </h4>
                <p>
                    <ul>
                        <li>La décision de clôture intervient à la livraison du logement après règlement complet de son coût de revient.  </li>
                        <li>Il n’y a pas de frais de clôture de compte.</li>
                    </ul>
                </p>

        </div>

        <!--div class="content">

            <h2>Epargne logement</h2>

            <h4>Caractéristique</h4>
            <p>Compte d’Epargne libre, ouvert à tout moment, à la demande de l’adhérent.</p>

            <h4>Objet</h4>
            <p>Constitution de l’apport personnel du coût d’acquisition de logement du projet immobilier MA2E.</p>

            <h4>Bénéficiaire</h4>
            <p>Tous les adhérents.</p>

            <h4>Montant</h4>
            <p>5 000 FCFA.</p>

            <h4>Modalité de versement</h4>
            <p>Mensuelle ou ponctuelle.</p>

            <h4>Durée de l'épargne</h4>
            <p>Au choix de l’adhérent.</p>

            <h4>Taux de rémunération</h4>
            <p>Epargne disponible non rémunérée; Taux d’intérêt : 0%</p>

            <h4>Modalités de retraits</h4>
            <p>Epargne disponible, retrait possible à tout moment du solde du compte. Le retrait partiel n’est pas admis.
            </p>

            <h4>Avantage du produit</h4>
            <p>Permet de constituer l’apport personnel du coût d’acquisition du logement du projet immobilier de MA2E. Donne droit aux crédits immobiliers</p>


        </div-->

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->


{% endblock %} {% block stylesheets %} {% endblock %}