{% extends 'base.html.twig' %}{%block title%} La mutuellle{%endblock%} {% block body %}

<!--Section Mot du PCA-->


<section class="box-with-image-left section-top-space" id="mot-PCA">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/dominique_kacou.jpg')}}' );">
        </div>

        <div class="content text-justify">

            <h3>Mot du PCA</h3>

            <p>Chers Mutualistes,</p>

            <p> Depuis quelques temps, la revendication qui est revenue de façon récurrente à l’occasion de la Fête du travail est celle de l’accession à la propriété immobilière des Collaborateurs de nos sociétés.<br> C’est la raison pour laquelle nous avons
                instruit le Gérant de la MA2E et ses équipes de pencher sur la question, afin de nous proposer des solutions crédibles et réalistes dans leur conception et dans leur réalisation.
            </p>
            <p>
                Nous sommes en mesure de vous dire que nous avons, enfin, une solution qui a fait l’objet de la signature d’une Convention le 2 Juin 2015. Il s’agit de la réalisation de 1500 logements en location-vente sur une période de 15 à 16 ans proposée par le GIE
                SCETCI. LA signature de la Convention n’est pas en soi l’objectif final. Ce que nous voulons, c’est la production effective des logements.<br> Je voudrais donc engager chaque Membre à jouer sa partition, en souscrivant
                effectivement à ce Projet, pour que dans un délai de trois (3) mois, nous puissions donner un signal fort au Promoteur quant à notre ferme volonté de le réaliser.</p>
            <p> Les objectifs de ce Projet sont connus de tous. Il s’agit d’aider nos Collaborateurs à solutionner l’épineux problème de logement et à leur assurer une promotion sociale. Une telle ambition ne peut pas se permettre des dysfonctionnements susceptibles
                d’entamer la confiance des uns et des autres. C’est la raison pour laquelle nous avons pris toutes les dispositions pour sécuriser vos paiements. Vous n’avez donc aucune crainte à vous faire. Je vous invite par conséquent à vous inscrire
                massivement.
            </p>

            <p> <span class="author-name">Dominique KACOU</span><br> Président du Conseil d’Administration de MA2E</p>

        </div>

        <div class="clear">
        </div>

    </div>

</section>

<!--/Section Mot du PCA-->

<!--Section Conditions d'attribution-->
<!--section class=" box-with-image-right section-gray" id="condition-attribution">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/23.jpg')}}' );">
        </div>

        <div class="content">
            <h3>Conditions d'attribution des logements</h3>
            <p>Les critères d'attribution des logements sont les suivants:</p>

            <ol>
                <li>
                    Être employé de l'une des sociétés (CIE, SODECI, CIPREL, GS2E, SGA2E et SIVE);
                </li>
                <li>
                    Être membre de la MA2E;
                </li>
                <li>
                    Avoir payé l'apport initial de 35% du coût correspondant au type de maison choisi;
                </li>
                <li>
                    Avoir une quotité disponible suffisante au moment de la mise en place du crédit (en prenant compte le crédit différé).
                </li>
            </ol>
            <br>

            <p>
                Pour arrêter la liste définitive des attributaires, si l'effectif du nombre de demandes es supérieur au nombre de logements disponibles, les critères complémentaires suivants seront appliqués:
            </p>

            <ol>
                <li>
                    L'ordre d'inscription à l'opération immobilière concernée (date du premier paiement pour le type de maison choisi);
                </li>
                <li>
                    La qualité de membre actif qui sera mesurée par la régularité du membre dans la vie de la MA2E;
                </li>
                <li>
                    L'ancienneté du souscripteur;
                </li>
                <li>
                    Au cas où pour un type de maison donné, l'offre serait inférieure à la demande, les collaborateurs seraient prioritaires par rapport à leur hiérachie.
                </li>


            </ol>
        </div>

        <div class="clear">
        </div>

    </div>

</section-->
<!--/Section Conditions d'attribution-->


{% endblock %} {% block stylesheets %}

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<style>
    .thumb img {
        width: 100%;
        height: auto;
    }
    
    .element-slide {
        width: 550px;
    }
    
    section.tabs .content h2.color-orange {
        color: #f38d31;
    }
    
    a.right.carousel-control {
        /*max-width: 30px;
        right: 15%;*/
    }
    
    .product-slider {
        /*padding: 45px;*/
    }
    
    .product-slider #carousel {
        /*border: 4px solid #1089c0;*/
        margin: 0;
    }
    
    .product-slider #thumbcarousel {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel1 {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel2 {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel1 .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel2 .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel1 .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel2 .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel .item .thumb:hover {
        border-color: #1089c0;
    }
    /*.product-slider .item img {
        width: 100%;
        height: auto;
    }*/
    
    .carousel-control {
        color: #0284b8;
        text-align: center;
        text-shadow: none;
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 20px;
        top: 23%;
    }
    
    .carousel-control:hover,
    .carousel-control:focus,
    .carousel-control:active {
        color: #333;
    }
    
    .carousel-caption,
    .carousel-control .fa {
        font: normal normal normal 30px/26px FontAwesome;
    }
    
    .carousel-control {
        background-color: rgba(0, 0, 0, 0);
        bottom: auto;
        font-size: 20px;
        left: 0;
        position: absolute;
        top: 30%;
        width: auto;
    }
    
    .rights {
        margin-left: 550px;
    }
    
    .carousel-control.right,
    .carousel-control.left {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
    }
    
    .carousel-control.left {
        margin-left: -5%;
    }
    
    .carousel-control.right {
        margin-right: 20%;
    }
</style>
{% endblock %}