{% extends 'base.html.twig' %} {%block title%}Projet immobilier{%endblock%} {% block body %}


<section class=" section-top-space">
    <div class="row top-50">
        <div class="text-center">
            <h2 class="text-orange">Projet immobilier: Prochaines tranches </h2>
        </div>
    </div>

</section>
<section class=" section-top-space">
    <div class="row top-50 bottom-50">
        <div class="text-center" style="padding:50px">
            <p style="font-size: 30px; border:1px solid #f38d31; margin-left: 100px; margin-right: 100px; padding: 25px">MA2E travaille à vous trouver les meilleures offres de logements. Vous serez informés des nouvelles propositions très prochainement. </p>
        </div>
    </div>

</section>

{% endblock %} {% block stylesheets %}
<style>
    .text-green {
        color: #4ba146;
    }
    
    .text-orange {
        color: #f38d31;
        text-decoration: underline;
    }
    
    .button.button-navy-blue {
        padding-bottom: 30px;
    }
</style>

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>
{% endblock %}