{% extends 'base.html.twig' %}{%block title%}La mutuellle{%endblock%} {% block body %}

<!-- Notre histoire-->
<section class="box-with-image-left section-top-space" id="vision-fondateur">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/zadi_kessy_2.JPG')}}' );">
        </div>

        <div class="content">

            <h3>La vision du fondateur</h3>


            <p>Chers Mutualistes,</p>
            <p>
                La création de la Mutuelle des Agents de l’Eau et de l’Electricité est une grande satisfaction pour moi. C’est un rêve qui est devenu une réalité. Dans ma vision de l’entreprise et de la société, de façon générale, l’homme est au début et à la fin de
                tout. Dans la charte de nos deux sociétés, l’homme est la première valeur. C’est à juste titre. Je crois profondément que si l’homme est la première richesse de l’entreprise, il ne doit pas être laissé pour compte dans le partage des richesses
                que cette entreprise crée. Le projet mutualiste est le prolongement naturel de la politique sociale volontariste que nous avons mise en œuvre dans nos sociétés et qui est l’expression de nos traditions communautaires de solidarité et d’entraide.
                A une époque où la pauvreté gagne du terrain, même parmi les salariés, il nous faut réorienter et donner plus d’ambition à cet élan de solidarité dans un cadre plus formel. J’ai toujours soutenu que la pauvreté n’est pas une fatalité.
                Il faut donc la combattre avec énergie et créativité.</p>
            <p>Avec la Mutuelle, les collaborateurs de la SODECI, de la CIE, de GS2E et de CIPREL ont désormais entre leurs mains un instrument approprié pour sensibiliser les uns et les autres à cultiver le goût de l’épargne, emprunter sagement et rembourser
                dans les délais, investir dans les projets productifs et sociaux qui tiennent à cœur aux familles, créer les conditions pour permettre aux uns et aux autres de se prendre en charge sur le triple plan financier, économique et social.</p>
            <p>Ma fierté sera d’autant plus grande que les sociétaires et les dirigeants de notre Mutuelle sauront créer, dans les années à venir, les conditions les meilleures, pour faire de cette jeune Institution de microfinance, une institution prospère
                au service du bien-être de nos collaborateurs. Les débuts sont prometteurs. J’ai grand espoir pour l’avenir.
            </p>

        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Notre histoire-->

{% endblock %} {% block stylesheets %}
<style>
    img.img-icon {
        width: 80px;
        float: left;
        padding-right: 10px;
    }
</style>
<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css"> {% endblock %}